*{
  overflow: hidden;
}
.body{
    display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding: 18%
}
#hex{
  font-family: "Work Sans";
  font-size: 2.5rem;
}
button{
  border-radius: 2em;
  padding: .5em;
}
